@font-face{
    font-family: NanumSquare;
    src:url(../fonts/NanumSquareL.ttf);
    font-weight:300;
}
@font-face{
    font-family: NanumSquare;
    src:url(../fonts/NanumSquareR.ttf);
    font-weight:400;
}
@font-face{
    font-family: NanumSquare;
    src:url(../fonts/NanumSquareB.ttf);
    font-weight:700;
}
@font-face{
    font-family: NanumSquare;
    src:url(../fonts/NanumSquareEB.ttf);
    font-weight:900;
}
